* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .container {
    max-width: 960px;
  }
}

@media (max-width: 991px) {
  .container {
    max-width: 750px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 100%;
    padding: 0 20px;
  }
}

@font-face {
  font-family: 'Open Sans Light';
  src: url("../fonts/OpenSans-Light.eot");
  src: url("../fonts/OpenSans-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Light.woff") format("woff"), url("../fonts/OpenSans-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans Regular';
  src: url("../fonts/OpenSans-Regular.eot");
  src: url("../fonts/OpenSans-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Regular.woff") format("woff"), url("../fonts/OpenSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans Bold';
  src: url("../fonts/OpenSans-Bold.eot");
  src: url("../fonts/OpenSans-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Bold.woff") format("woff"), url("../fonts/OpenSans-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-size: 15px;
  color: #15263e;
  font-family: 'Open Sans Light', sans-serif;
}

button:focus, input:focus, textarea:focus, a:focus {
  outline: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

.section {
  padding: 100px 0;
}

.section-title {
  font-size: 35px;
  text-align: center;
  font-family: 'Open Sans Bold', sans-serif;
  color: #15263e;
}

.section__title {
  margin-bottom: 40px;
}

.section-description {
  font-size: 18px;
  text-align: center;
  font-family: 'Open Sans Regular', sans-serif;
}

.section__description {
  margin-top: 40px;
  margin-bottom: 40px;
}

.section-text {
  font-size: 15px;
  line-height: 1.8;
  font-family: 'Open Sans Regular', sans-serif;
}

.button {
  padding: 15px 25px;
  font-size: 15px;
  text-decoration: none;
  text-transform: uppercase;
  border: none;
  font-family: 'Open Sans Bold', sans-serif;
  color: #ffffff;
  background: -webkit-gradient(linear, left top, left bottom, from(#a21af0), to(#ff0072));
  background: linear-gradient(#a21af0, #ff0072);
  -webkit-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
}

.button:hover {
  cursor: pointer;
  background: -webkit-gradient(linear, left bottom, right top, from(#a21af0), to(#ff0072));
  background: linear-gradient(to top right, #a21af0, #ff0072);
}

#btn-menu {
  display: none;
  cursor: pointer;
  background: #15263e;
  background-clip: content-box;
  width: 30px;
  height: 24px;
  border-top: 11px solid transparent;
  border-bottom: 11px solid transparent;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

#btn-menu:before, #btn-menu:after {
  content: "";
  position: absolute;
  background: #15263e;
  height: 2px;
  width: 100%;
  right: 0;
  will-change: rotate;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#btn-menu:before {
  top: -10px;
}

#btn-menu:after {
  bottom: -10px;
}

#btn-menu.active {
  background: transparent;
  background-clip: content-box;
}

#btn-menu.active:before {
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
  top: 0;
  background: #ffffff;
  width: 110%;
}

#btn-menu.active:after {
  bottom: 0;
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
  background: #ffffff;
  width: 110%;
}

@media (max-width: 576px) {
  .button {
    font-size: 10px;
  }
  .section {
    padding: 60px 0;
  }
  .section-title {
    font-size: 24px;
  }
  .section-description {
    font-size: 16px;
  }
}

.header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100px;
  background-color: #15263e;
}

.header-nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.header-nav__item {
  margin-right: 40px;
}

.header-nav__item:last-child {
  margin-right: 0;
}

.header-nav__link {
  color: #ffffff;
  font-family: 'Open Sans Bold', sans-serif;
  cursor: pointer;
  -webkit-transition: all .25s;
  transition: all .25s;
}

.header-nav__link::after {
  background-color: #ffffff;
  display: block;
  content: '';
  height: 2px;
  width: 0%;
  -webkit-transition: width .3s ease-in-out;
  transition: width .3s ease-in-out;
}

.header-nav__link:hover:after, .header-nav__link:focus:after {
  width: 100%;
}

.header-nav__line {
  margin-right: 40px;
  color: #ffffff;
  font-family: 'Open Sans Bold', sans-serif;
}

.popup-overlay {
  position: fixed;
  background: #15263e;
  font-family: 'Open Sans Bold', sans-serif;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-transform-origin: left top;
          transform-origin: left top;
  -webkit-transform: scale(0);
          transform: scale(0);
  visibility: hidden;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  overflow: hidden;
  z-index: 98;
}

.popup-overlay.open {
  opacity: 0.99;
  visibility: visible;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.popup-overlay.open li {
  display: block;
  -webkit-animation: fadeInRight 0.4s cubic-bezier(0.42, 0.83, 0.7, 1.5) forwards;
          animation: fadeInRight 0.4s cubic-bezier(0.42, 0.83, 0.7, 1.5) forwards;
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
  -webkit-transform: rotate(-7deg);
          transform: rotate(-7deg);
  -webkit-transform-origin: right bottom;
          transform-origin: right bottom;
}

.popup-overlay.open li:nth-of-type(2) {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

.popup-overlay.open li:nth-of-type(3) {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

.popup-overlay.open li:nth-of-type(4) {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

.popup-overlay.open li:nth-of-type(5) {
  -webkit-animation-delay: 0.7s;
          animation-delay: 0.7s;
}

.popup-overlay.open li:nth-of-type(6) {
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}

.popup-overlay.open li:nth-of-type(7) {
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
}

.popup-menu {
  position: absolute;
  text-align: center;
  top: 10%;
  left: 35%;
}

.popup-menu ul {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  display: block;
  position: relative;
  height: 100%;
  text-align: center;
}

.popup-menu ul li {
  display: block;
  position: relative;
  opacity: 0;
  width: 100%;
}

.popup-menu ul li a {
  display: inline-block;
  color: #ffffff;
  text-decoration: none;
  font-size: 20px;
  padding: 10px;
  margin: 5px 0;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.locked {
  overflow: hidden;
}

@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 50px;
  }
  100% {
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 50px;
  }
  100% {
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

.header-title {
  background: url("../img/header.jpg");
  background-position: bottom;
  height: 735px;
  color: #ffffff;
  font-family: 'Open Sans Bold', sans-serif;
  text-align: center;
}

.header-text {
  padding-top: 115px;
}

.header-text__h3 {
  font-size: 47px;
}

.header-text__h1 {
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#a21af0), to(#ff0072));
  background-image: linear-gradient(#a21af0, #ff0072);
  font-size: 200px;
  margin-top: -70px;
}

.header-text__h2 {
  margin-top: -50px;
  font-size: 115px;
  letter-spacing: 40px;
}

.header-text__h4 {
  font-size: 20px;
  letter-spacing: 3px;
  margin-top: -20px;
}

.header-text__button {
  margin-top: 65px;
}

@media (max-width: 1199px) {
  .header-nav__item {
    margin-right: 20px;
  }
  .header-nav__item:last-child {
    margin-right: 0;
  }
  .header-nav__line {
    margin-right: 20px;
  }
}

@media (max-width: 991px) {
  .header-nav__item {
    margin-right: 15px;
  }
  .header-nav__item:last-child {
    margin-right: 0;
  }
  .header-nav__line {
    margin-right: 15px;
  }
}

@media (max-width: 768px) {
  .header-nav {
    display: none;
  }
  #btn-menu {
    display: block;
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 99;
  }
  .header-title {
    background: url("../img/header-tablet.jpg");
    background-position: bottom;
    height: 572px;
  }
  .header-text {
    padding-top: 50px;
  }
  .header-text__h3 {
    font-size: 35px;
  }
  .header-text__h1 {
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#a21af0), to(#ff0072));
    background-image: linear-gradient(#a21af0, #ff0072);
    font-size: 150px;
    margin-top: -40px;
  }
  .header-text__h2 {
    margin-top: -25px;
    padding-left: 15px;
    font-size: 80px;
    letter-spacing: 40px;
  }
  .header-text__h4 {
    font-size: 18px;
    letter-spacing: 1px;
    margin-top: -10px;
  }
  .header-text__button {
    margin-top: 55px;
  }
}

@media (max-width: 576px) {
  .header-title {
    background: url("../img/header-mobile.jpg");
    background-position: bottom;
    height: 352px;
  }
  .header-text {
    padding-top: 35px;
  }
  .header-text__h3 {
    font-size: 25px;
  }
  .header-text__h1 {
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#a21af0), to(#ff0072));
    background-image: linear-gradient(#a21af0, #ff0072);
    font-size: 80px;
    margin-top: -20px;
  }
  .header-text__h2 {
    margin-top: -15px;
    padding-left: 15px;
    font-size: 40px;
    letter-spacing: 20px;
  }
  .header-text__h4 {
    font-size: 12px;
    margin-top: 5px;
  }
  .header-text__button {
    margin-top: 30px;
  }
  .popup-menu {
    position: absolute;
    text-align: center;
    top: 5%;
    left: 35%;
  }
  .popup-menu ul {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    display: block;
    position: relative;
    height: 100%;
    text-align: center;
  }
  .popup-menu ul li {
    display: block;
    position: relative;
    opacity: 0;
    width: 100%;
  }
  .popup-menu ul li a {
    display: inline-block;
    color: #ffffff;
    text-decoration: none;
    font-size: 16px;
    padding: 7px;
    margin: 5px 0;
    -webkit-transition: 0.2s;
    transition: 0.2s;
  }
}

.about {
  padding: 0;
}

.about-skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
}

.about-info {
  text-align: right;
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.about-info__title {
  text-align: right;
  font-size: 35px;
  margin-bottom: 7px;
}

.about-info__description {
  text-align: right;
  color: #a21af0;
  font-family: 'Open Sans Bold', sans-serif;
  font-size: 16px;
  margin-bottom: 20px;
}

.about-img {
  height: 597px;
  -ms-flex-preferred-size: 55%;
      flex-basis: 55%;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  background: url("../img/John.jpg") center;
  height: 597px;
}

.about-skill {
  -ms-flex-preferred-size: 15%;
      flex-basis: 15%;
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
  margin-left: 30px;
}

.about-skill__description {
  padding-top: 10px;
}

.about-skill__description-text {
  font-size: 16px;
  font-family: 'Open Sans Regular', sans-serif;
  margin-bottom: 12px;
  text-align: center;
}

.about-skill__description-color {
  height: 10px;
  width: 285px;
  background: -webkit-gradient(linear, left top, right top, from(#a21af0), to(#ff0072));
  background: linear-gradient(to right, #a21af0, #ff0072);
  border-radius: 5px;
  margin-bottom: 40px;
}

.about-skill__description-color:last-child {
  margin-bottom: 0;
}

.about-contact {
  background-color: #dcdcde;
}

.about-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 80px 0;
}

.about-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about-item__img {
  position: relative;
  background-color: #374362;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  text-align: center;
  margin-right: 25px;
}

.about-item__img img {
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.about-item__info-title {
  font-family: 'Open Sans Bold', sans-serif;
  margin-bottom: 10px;
}

.about-item__info-description {
  font-family: 'Open Sans Regular', sans-serif;
}

@media (max-width: 1199px) {
  .about-skills {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .about-img {
    background: url("../img/John-tablet.jpg") center no-repeat;
    height: 455px;
  }
}

@media (max-width: 991px) {
  .about-skills {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .about-info {
    text-align: right;
  }
  .about-info__title {
    text-align: right;
    font-size: 22px;
    margin-bottom: 7px;
  }
  .about-info__description {
    text-align: right;
    color: #a21af0;
    font-family: 'Open Sans Bold', sans-serif;
    font-size: 14px;
    margin-bottom: 20px;
  }
  .about-info__text {
    font-size: 12px;
  }
  .about-img {
    background: url("../img/John-mobile.jpg") center no-repeat;
    height: 318px;
    width: 100%;
  }
  .about-skill__description-text {
    font-size: 14px;
    margin-bottom: 8px;
  }
  .about-skill__description-color {
    width: 230px;
    margin-bottom: 20px;
  }
  .about-skill__description-color:last-child {
    margin-bottom: 0;
  }
}

@media (max-width: 768px) {
  .about {
    margin-top: 20px;
  }
  .about-skills {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .about-info {
    min-width: 350px;
  }
  .about-info__title {
    text-align: center;
    font-size: 22px;
    margin-bottom: 7px;
  }
  .about-info__description {
    text-align: center;
    color: #a21af0;
    font-family: 'Open Sans Bold', sans-serif;
    font-size: 14px;
    margin-bottom: 20px;
  }
  .about-info__text {
    font-size: 12px;
    text-align: center;
  }
  .about-img {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
  .about-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0 auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 40px 0;
  }
  .about-item {
    width: 100%;
    margin: 30px;
    max-width: 305px;
  }
}

@media (max-width: 617px) {
  .about-skill {
    margin: 25px 0;
  }
}

@media (max-width: 400px) {
  .about-item {
    max-width: 230px;
    margin: 20px;
  }
  .about-item__img {
    width: 55px;
    height: 55px;
    margin-right: 15px;
  }
  .about-item__info-title {
    font-family: 'Open Sans Bold', sans-serif;
    font-size: 14px;
    margin-bottom: 10px;
  }
  .about-item__info-description {
    font-family: 'Open Sans Regular', sans-serif;
    font-size: 12px;
  }
}

@media (max-width: 350px) {
  .about-info {
    min-width: 300px;
  }
}

.services {
  padding-top: 60px;
}

.services-description {
  margin-top: 15px;
  margin-bottom: 50px;
}

.services-blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.services-block {
  text-align: center;
  max-width: 350px;
  -ms-flex-preferred-size: 33.33%;
      flex-basis: 33.33%;
  margin-bottom: 60px;
}

.services-block__image {
  position: relative;
  margin: 0 auto;
  margin-bottom: 25px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: -webkit-gradient(linear, left top, right top, from(#a21af0), to(#ff0072));
  background: linear-gradient(to right, #a21af0, #ff0072);
}

.services-block__image img {
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.services-block__title {
  margin-bottom: 20px;
  font-family: 'Open Sans Bold', sans-serif;
  font-size: 18px;
}

.services-block__description {
  font-family: 'Open Sans Regular', sans-serif;
  line-height: 1.8;
}

@media (max-width: 768px) {
  .services-block {
    padding: 10px;
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    max-width: 280px;
  }
}

@media (max-width: 600px) {
  .services-block {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .services-block:last-child {
    margin-bottom: 0;
  }
}

@media (max-width: 576px) {
  .services-block__image {
    width: 80px;
    height: 80px;
  }
  .services-block__title {
    font-size: 16px;
  }
  .services-block__description {
    font-size: 14px;
  }
}

.testimonials {
  background: url("../img/testimonials/testimonials.jpg");
  height: 624px;
}

.testimonials-title {
  color: #ffffff;
  margin-top: 45px;
  margin-bottom: 60px;
}

.testimonials-blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.testimonials__block {
  position: relative;
}

.testimonials-block__description {
  color: #ffffff;
}

.testimonials-block__imgLeft {
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
}

.testimonials-block__imgRight {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: auto;
}

.testimonials-block__description {
  font-family: 'Open Sans Light', sans-serif;
  text-align: right;
  margin: 20px 40px 20px 20px;
  max-width: 400px;
  line-height: 1.8;
}

.testimonials-person {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #ffffff;
}

.testimonials-person__img {
  border: 10px solid #ffffff;
  border-radius: 50%;
  margin-right: 50px;
}

.testimonials-person__description {
  text-align: center;
}

.testimonials-person__description-name {
  font-family: 'Open Sans Bold', sans-serif;
  font-size: 30px;
  margin-bottom: 7px;
}

.testimonials-person__description-position {
  color: #a21af0;
  font-family: 'Open Sans Bold', sans-serif;
}

@media (max-width: 991px) {
  .testimonials-title {
    margin-top: 35px;
  }
  .testimonials__block {
    margin-bottom: 20px;
  }
}

@media (max-width: 576px) {
  .testimonials-title {
    margin-top: 30px;
    margin-bottom: 50px;
  }
  .testimonials-person__description-name {
    font-size: 20px;
  }
  .testimonials-person__description-position {
    font-size: 12px;
  }
}

@media (max-width: 400px) {
  .testimonials-title {
    margin-top: 15px;
    margin-bottom: 30px;
  }
  .testimonials-person {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .testimonials-person__img {
    margin-right: 0;
  }
  .testimonials-person__description {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    margin-top: 15px;
  }
}

.portfolio-title {
  margin-bottom: 20px;
}

.portfolio-description {
  margin-bottom: 80px;
}

.portfolio-blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.portfolio-list {
  margin-right: 40px;
}

.portfolio__list {
  list-style: none;
}

.portfolio__item {
  margin-bottom: 15px;
}

.portfolio__link {
  font-family: 'Open Sans Bold', sans-serif;
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out;
}

.portfolio__link:hover {
  color: #a21af0;
}

.portfolio__active {
  color: #a21af0;
}

.portfolio-gallary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 auto;
}

.portfolio-gallary img {
  padding: 15px;
  width: 100%;
  max-width: 400px;
}

@media (max-width: 991px) {
  .portfolio-list {
    margin-right: 0;
    z-index: 5;
  }
  .portfolio-gallary {
    margin-left: -100px;
    z-index: 1;
  }
  .portfolio-gallary img {
    margin: auto;
    text-align: center;
    padding: 15px;
    width: 100%;
  }
}

@media (max-width: 700px) {
  .portfolio-blocks {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .portfolio-list {
    margin: auto;
    margin-bottom: 30px;
  }
  .portfolio__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    text-align: center;
  }
  .portfolio__item {
    -ms-flex-preferred-size: 30%;
        flex-basis: 30%;
    padding: 5px;
    margin-right: 0;
  }
  .portfolio-gallary {
    margin-left: 0;
  }
}

@media (max-width: 576px) {
  .portfolio__link {
    font-size: 14px;
  }
}

@media (max-width: 450px) {
  .portfolio__item {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
}

.experience {
  background: -webkit-gradient(linear, left top, right top, from(#a21af0), to(#ff0072));
  background: linear-gradient(to right, #a21af0, #ff0072);
  color: #ffffff;
  padding-bottom: 60px;
}

.experience-title {
  margin-bottom: 20px;
  color: #ffffff;
}

.experience-blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 70px;
}

.experience-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 50px 0;
}

.experience-block__line {
  background-color: #ffffff;
  width: 12px;
  height: 50px;
  margin: 0 35px;
}

.experience-block__description {
  max-width: 700px;
}

.experience-block__description-text {
  line-height: 1.7;
  font-family: 'Open Sans Light', sans-serif;
  text-align: left;
}

.experience-block__description-text__right {
  text-align: right;
}

.experience-block__title-text {
  text-align: left;
  margin-bottom: 10px;
  font-family: 'Open Sans Bold', sans-serif;
  font-size: 20px;
}

.experience-block__title-text__h3 {
  text-align: right;
  margin-bottom: 10px;
}

.experience-block__title-text__p {
  text-align: right;
}

.experience-block__title h3 {
  font-size: 20px;
  font-family: 'Open Sans Bold', sans-serif;
}

.experience-block__title p {
  font-size: 18px;
  font-family: 'Open Sans Bold', sans-serif;
}

.experience-width__none {
  display: block;
}

.experience-width__block {
  display: none;
}

@media (max-width: 768px) {
  .experience-width__none {
    display: none;
  }
  .experience-width__block {
    display: block;
  }
  .experience-block {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: 0;
  }
  .experience-block__description {
    max-width: 600px;
    margin-top: 20px;
  }
  .experience-block__description-text {
    text-align: center;
  }
  .experience-block__line {
    display: none;
  }
  .experience-block__title-text {
    text-align: center;
  }
  .experience-block__title-text__h3 {
    text-align: center;
  }
  .experience-block__title-text__p {
    text-align: center;
  }
}

@media (max-width: 576px) {
  .experience__text h3 {
    font-size: 16px;
  }
  .experience__text p {
    font-size: 14px;
  }
}

@media (max-width: 500px) {
  .experience {
    padding-bottom: 0;
  }
}

.blog-title {
  margin-bottom: 20px;
}

.blog-description {
  margin-bottom: 80px;
}

.blog-blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.blog-block {
  text-align: left;
}

.blog-block__name {
  text-transform: uppercase;
  color: #b4b4b4;
  font-family: 'Open Sans Bold', sans-serif;
  margin-top: 20px;
  margin-bottom: 10px;
}

.blog-block__title {
  font-family: 'Open Sans Bold', sans-serif;
  font-size: 16px;
  margin-bottom: 10px;
  letter-spacing: 1px;
}

.blog-block__description {
  font-family: 'Open Sans Regular', sans-serif;
  max-width: 330px;
  line-height: 1.6;
}

@media (max-width: 1200px) {
  .blog-blocks {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 auto;
  }
  .blog-block {
    width: 100%;
    max-width: 330px;
    margin: 0 17px 50px 17px;
  }
}

@media (max-width: 576px) {
  .blog-block {
    margin: 0 0 50px 0;
  }
}

.footer {
  background: url("../img/footer.jpg");
  height: 776px;
  padding-top: 80px;
}

.footer-title {
  color: #ffffff;
  margin-bottom: 20px;
}

.footer-description {
  margin-bottom: 80px;
}

.footer-block {
  padding: 50px 0;
  color: #ffffff;
  background-color: #15263e;
}

.footer-form {
  max-width: 800px;
  text-align: center;
  margin: 0 auto;
}

.footer-form input {
  border: none;
  padding: 5px 15px;
  height: 50px;
  width: 250px;
  margin-bottom: 20px;
  font-size: 16px;
  font-family: 'Open Sans Regular', sans-serif;
}

.footer-form textarea {
  padding: 10px 15px;
  height: 100px;
  width: 100%;
  font-size: 16px;
  font-family: 'Open Sans Regular', sans-serif;
}

.footer-input__name {
  margin-right: 21px;
}

.footer-input__phone {
  margin-right: 21px;
}

.footer-input__email {
  margin-right: 0;
}

.footer-button {
  margin-top: 25px;
  margin-bottom: 45px;
}

@media (max-width: 991px) {
  .footer-block {
    padding-bottom: 0;
  }
  .footer-form {
    max-width: 500px;
  }
  .footer-form input {
    width: 100%;
  }
  .footer-input__name {
    margin-right: 0;
  }
  .footer-input__phone {
    margin-right: 0;
  }
}

@media (max-width: 768px) {
  .footer-form {
    max-width: 400px;
  }
}

@media (max-width: 576px) {
  .footer-form {
    max-width: 300px;
  }
  .footer-form input {
    font-size: 14px;
  }
  .footer-form textarea {
    font-size: 14px;
  }
}

@media (max-width: 420px) {
  .footer-form {
    max-width: 240px;
  }
}
/*# sourceMappingURL=style.css.map */